doctype html
html
	head
		title= "Game control"
		link(href='/stylesheets/style.css', rel='stylesheet')
		script(type='text/javascript', src='/javascripts/jquery.min.js')
	body
		// a(href='/stats/')= "Статистика"
		//a(href='', id="ru_switch")= "RU"
		//a(href='', id="eng_switch")= "EN"
		#Content

	script(type='text/javascript').
		web_server_url="#{web_server_url}";
		web_ui_refresh_time="#{web_ui_refresh_time}";

	script(type='text/javascript', src='/javascripts/main.js')